version: 2
updates:

- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  labels:
    - "type/dependencies"
    - "scope/backend"
