version: 2
updates:

- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  labels:
    - "type/dependencies"
    - "scope/backend"
  groups:
    gradle-wrapper:
      patterns:
        - "gradle-wrapper*"
    others:
      patterns:
        - "*"
- package-ecosystem: docker
  directory: "/api"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  ignore:
    # We handle Major Java updates manually
  - dependency-name: "azul/zulu-openjdk-alpine"
    update-types: ["version-update:semver-major"]
  labels:
    - "type/dependencies"
    - "scope/backend"

- package-ecosystem: npm
  directory: "/frontend"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  versioning-strategy: increase-if-necessary
  labels:
    - "type/dependencies"
    - "scope/frontend"
  groups:
    pnpm-dependencies:
      patterns:
        - "*"
      update-types:
        - "patch"
        - "minor"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  groups:
    github-actions:
      patterns:
        - "*"
  labels:
    - "type/dependencies"
    - "scope/infra"
