version: 2
updates:

- package-ecosystem: gradle
  open-pull-requests-limit: 10
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  labels:
    - "type/dependencies"
    - "scope/backend"
  ignore:
    # Disable dependabot pull requests for Netty
    # In general, our Netty references are temporary overrides, usually applied to address transitive Spring vulnerabilities, and should be configured with caution
    # In general, having conflicting Netty versions in the classpath is not recommended
    - dependency-name: "io.netty:*"
    # We will handle major upgrades manually
    - dependency-name: org.springframework.boot:*
      update-types:
        - "version-update:semver-major"
    - dependency-name: org.apache.kafka:*
      update-types:
        - "version-update:semver-major"
    - dependency-name: io.confluent:*
      update-types:
        - "version-update:semver-major"
  groups:
    spring-boot:
      patterns:
        - "org.springframework.boot:*"
        - "io.spring.dependency-management"
        - "io.modelcontextprotocol.sdk:mcp-spring-webflux"
        - "org.projectlombok:lombok"
        # The only reason we defined this explicitly is that Spring uses an older version
        - "com.nimbusds:nimbus-jose-jwt"
      update-types:
        - "patch"
        - "minor"
    # Update test dependencies separately
    test-libraries:
      # TODO: Consider using dependency-type when https://github.com/dependabot/dependabot-core/issues/13122 is supported
      patterns:
        - "org.testcontainers:*"
        - "org.junit.jupiter:*"
        - "org.assertj:*"
        - "com.gorylenko.gradle-git-properties"
        - "com.bmuschko.docker-remote-api"
        - "org.mockito:*"
        # Bouncy Castle is only used for testing purposes in our project
        - "org.bouncycastle:bcpkix-jdk18on"
    api-build-tools:
      patterns:
        - "org.openapitools:*"
        - "com.github.java-json-tools:*"
        - "com.github.victools:*"
    # Update Apache Commons libraries together
    # These dependencies rarely introduce breaking changes
    # And it is safe to update them together without restrictions
    apache-commons:
      patterns:
        - "org.apache.commons:*"
    kafka:
      patterns:
        - "org.apache.kafka:*"
        - "io.confluent:*"
    schema-tools:
      patterns:
        - "com.github.victools:jsonschema-generator"
        - "com.github.java-json-tools:json-schema-validator"
        - "org.openapitools.openapistylevalidator"
        - "org.openapi.generator"
        - "io.swagger.core.v3:*"
    lucene:
      patterns:
        - "org.apache.lucene:*"
      update-types:
        - "patch"
        - "minor"
    gradle-wrapper:
      patterns:
        - "gradle-wrapper"
      update-types:
        - "patch"
        - "minor"
    others:
      patterns:
        - "*"
      update-types:
        - "patch"
        - "minor"
- package-ecosystem: docker
  directory: "/api"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  ignore:
    # We handle Major Java updates manually
  - dependency-name: "azul/zulu-openjdk-alpine"
    update-types: ["version-update:semver-major"]
  labels:
    - "type/dependencies"
    - "scope/backend"

- package-ecosystem: npm
  directory: "/frontend"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  versioning-strategy: increase-if-necessary
  labels:
    - "type/dependencies"
    - "scope/frontend"
  groups:
    pnpm-dependencies:
      patterns:
        - "*"
      update-types:
        - "patch"
        - "minor"

- package-ecosystem: "github-actions"
  open-pull-requests-limit: 10
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  groups:
    github-actions:
      patterns:
        - "*"
  labels:
    - "type/dependencies"
    - "scope/infra"
